version: '3.8'

services:
  vote:
    image: acrtychka2025.azurecr.io/vote:latest
    ports:
      - "5000:80"
    depends_on:
      redis:
        condition: service_healthy

  result:
    image: acrtychka2025.azurecr.io/result:latest
    ports:
      - "5001:80"
    depends_on:
      db:
        condition: service_healthy

  worker:
    image: acrtychka2025.azurecr.io/worker:latest
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
